body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3ebeb;
}    

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.5);
}

h1 {
    text-align: center;
}

.lol {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.5s ease;
    text-align: center;
}

.lol:active {
    animation: moveButton 0.5s forwards;
}

@keyframes moveButton {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, 50px); }
    50% { transform: translate(-50px, 50px); }
    75% { transform: translate(50px, -50px); }
    100% { transform: translate(-50px, -50px); }
}

.lil {
    margin-left: 50px;
    height: 400px;
}

.col img {
    float: right;
    margin-top: -150px;
    width: 200px;
    margin-right: 600px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
}